.example-container {
    width: 100%;
    height: 100%;
    margin: 10px; 
  }
  .example-content{
      margin: 20px;
  }

  .example-full-width {
    width: 100%;
  }

  .width-15-percent{
    width: 15%; 
    display: inline-block;
    margin-left: 10px;
  }
  .width-80-percent{
    width: 80%;
  }

  .width-40-percent{
    width: 40%;
  }
  .width-60-percent{
    width: 60%;
  }

  .width-30-percent{
    width: 30%;
  }
 
  